* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #262626 47%, rgb(23, 61, 23, 0.8));
}

/*------------------------------Overlay 1------------------------------*/

.overlay-text {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(23, 61, 23, 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
}

.overlay-text h1 {
    font-size: 13vw;
    font-family: 'Moliantha', sans-serif;
    color: white;
}

.subtext1 {
    opacity: 0;
}

.subtext2 {
    opacity: 0;
}

.subtext3 {
    opacity: 0;
}

/*------------------------------Overlay 2------------------------------*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
}

.layer {
    background: rgb(23, 61, 23);
}

.layer1 {
    flex: 1;
}

.layer2 {
    flex: 1;
}

.layer3 {
    flex: 1;
}

/*------------------------------Alpha Container------------------------------*/

#alphacontainer {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*------------------------------Navigation Bar------------------------------*/

nav {
    position: fixed;
    padding: 0 30px;
    width: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    color: white;
    font-size: 25px;
}

#logo span {
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul i {
    color: rgb(23, 61, 23);
}

nav ul li {
    list-style: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    position: relative;
}

nav ul li a::after, .selection::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(23, 61, 23);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after, .selection:hover::after {
    width: 100%;
}

#closemm, #openmm {
    display: none;
}

/*------------------------------Navigation Bar (User-Authentication)------------------------------*/

#logs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#logs i {
    font-size: 17px;
}

#logselect {
    color: white;
    background: #262626;
    margin: 0 20px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#logselect:hover {
    opacity: 1;
}

.selection {
    position: relative;
    padding-bottom: 3px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

#logsm {
    display: none;
}

/*------------------------------Header------------------------------*/

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: start;
}

.prev, .next {
    width: 65px;
    line-height: 50px;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 2vw;
    transition: all 0.5s ease;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/*------------------------------Header (Slider)------------------------------*/

.slider-page {
    position: relative;
    width: 100%;
    height: 100vh;
    float: left;
    list-style: none;
}

.slider-page img {
    width: 100%;
    height: 100%;
}

.theshadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: brightness(40%);
    backdrop-filter: brightness(40%);
}

/*------------------------------Header (Main text)------------------------------*/

#header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header-text h1 {
    font-size: 6vw;
    color: white;
    width: 100%;
}

#header-text a {
    font-size: 2vw;
    text-decoration: none;
    margin: auto;
    padding: 2.5vh;
    width: 30vw;
    text-align: center;
    color: rgb(23, 61, 23);
    background: white;
    border-radius: 80px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition: color 0.5s, background 0.5s;
}

#header-text a:hover, .text-text a:hover {
    background: rgb(23, 61, 23);
    color: white;
}

/*------------------------------Main Body------------------------------*/

#row-1, #row-2, #row-3, #row-4, #row-5 {
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

.the-row-shadow, #the-review-shadow, #the-contact-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: brightness(60%);
    backdrop-filter: brightness(60%);
}

.row-topic {
    color: white;
    font-size: 100px;
    padding-top: 80px;
    position: relative;
}

.row-topic::after {
    content: '';
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: rgb(23, 61, 23);
}

/*------------------------------Main Body (Propaganda section, First Row)------------------------------*/

.row-texts-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box-a {
    height: 100%;
    flex-basis: 55%;
}

.text-img {
    height: 100%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
        'myTop myTop'
        'myLeft myRight'
    ;
    grid-gap: 30px;
}

#Grid-top {
    width: 100%;
    height: 300px;
    grid-area: myTop;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

#Grid-bottom-left {
    grid-area: myLeft;
}

#Grid-bottom-right {
    grid-area: myRight;
}

#Grid-bottom-left, #Grid-bottom-right {
    height: 300px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.text-box-a {
    flex-basis: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}

.text-box-a h1 {
    font-size: 50px;
}

.text-box-a p {
    font-size: 20px;
}

.text-text {
    width: 90%;
    color: white;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.text-text a {
    width: 200px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(23, 61, 23);
    background: white;
    padding: 15px 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition: background 0.5s, color 0.5s;
}

/*------------------------------Main Body (Offer section, Second Row)------------------------------*/

.row-texts-b {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    padding: 60px;
}

.text-box {
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid white;
    border-radius: 30px;
    width: 90%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.text-box h1 {
    color: white;
    font-size: 45px;
}

#direct-1, #direct-2, #direct-3 {
    padding: 12px 15px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    transition: background 0.5s;
    cursor: pointer;
}

#direct-1:hover, #direct-2:hover, #direct-3:hover {
    background: white;
}

.text-box i {
    font-size: 50px;
    color: rgb(23, 61, 23);
}

/*------------------------------Main Body (Process section, Third Row)------------------------------*/

.row-texts-c {
    width: 1440px;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 500px;
    height: 500px;
    border: 2px solid rgb(23, 61, 23);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 50px;
}

.circle-point {
    width: 200px;
    height: 200px;
    position: absolute;
    color: white;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    background: #262626;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.circle h1 {
    font-weight: 300;
}

.circle-point:nth-child(1) {
    top: 70px;
}

.circle-point:nth-child(2) {
    right: 370px;
}

.circle-point:nth-child(3) {
    bottom: 70px;
}

.circle-point:nth-child(4) {
    left: 370px;
}

/*------------------------------Main Body (Reviews section, Fourth Row)------------------------------*/

#the-review-shadow {
    align-items: flex-start;
    gap: 60px;
}

.review {
    margin: 0 auto;
}

#review-slider {
    padding: 20px 70px 70px 70px;
    display: flex;
    overflow-x: hidden;
}

.comments {
    width: 300px;
    height: 405px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 30px;
    gap: 25px;
    color: white;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    opacity: 0.1;
    transition: opacity 0.5s, transform 0.5s;
}

.comments[class*=active] {
    transform: scale(1.1);
    opacity: 1;
}

.comments h1 {
    font-size: 29px;
}

.comments i {
    color: rgb(23, 61, 23);
    font-size: 30px;
}

#row-4 .prev, #row-4 .next {
    top: 45%;
}

/*------------------------------Main Body (Contact section, Fifth Row)------------------------------*/

#the-contact-shadow {
    flex-direction: row;
}

.contact-left {
    flex-basis: 45%;
}

.contact-right {
    flex-basis: 45%;
}

.contact-left h1 span {
    color: rgb(23, 61, 23);
}

.contact-left p {
    color: white;
    font-size: 18px;
    margin-top: 30px;
}

.contact-left p i {
    color: rgb(23, 61, 23);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s, color 0.5s;
}

.social-icons a:hover {
    color: rgb(23, 61, 23);
    transform: translateY(-5px);
}

#news-subscribe {
    margin-top: 40px;
    color: white;
}

#subscribe-call {
    font-weight: 300;
    font-size: 30px;
}

#subscribe-call span {
    color: rgb(23, 61, 23);
    font-weight: 600;
}

#news-subscribe input {
    width: 400px;
}

.sub-btn {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid rgb(23, 61, 23);
    font-size: 18px;
    padding: 14px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(23, 61, 23);
    background: white;
    transition: background 0.5s, color 0.5s;
}

.sub-btn:hover {
    color: white;
    background: rgb(23, 61, 23);
    cursor: pointer;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px; 
}

#discover i, #send i {
    color: rgb(23, 61, 23);
    font-size: 20px;
    transition: color 0.5s;
}

#discover:hover i, #send:hover i {
    color: white;
}

#moveu {
    margin: 25px 0;
    display: block;
    font-size: 40px;
    color: #ff004f;
    width: fit-content;
}

#moveu:hover {
    color: white;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}



/*------------------------------Mobile Responsiveness (Ultra-wide screens)------------------------------*/

@media screen and (max-width: 8000px) {
    #header-text {
        width: 80%;
    }
}

@media screen and (min-width: 5000px) {
    #header-text {
        margin-left: 180px;
    }

    header #next {
        right: 40px;
    }

    #header-text a {
        font-size: 2vw;
        border-radius: 2vw;
    }
}

/*-------------------------------------Mobile Responsiveness (Ipads)------------------------------------*/

@media screen and (min-width: 1111px) and (max-width: 1302px) {
    #header-text {
        width: 95%;
    }
}

@media screen and (max-width: 1110px) {
    body {
        background: rgb(23, 61, 23);
    }

    #alphacontainer {
        scroll-snap-type: none;
        overflow-y: none;
    }

    #openmm {
        display: block;
        font-size: 25px;
        color: white;
    }

    #closemm {
        display: block;
        font-size: 25px;
        color: white;
        position: absolute;
        top: 60px;
        left: 48%;
    }

    nav {
        padding: 10px 30px;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: -280px;
        width: 280px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        margin: 20px 0;
    }

    #logsm {
        display: block;
    }

    #logs {
        display: none;
    }

    #logselect {
        margin-top: 10px;
    }

    #header-text {
        width: 95%;
        margin-left: 140px;
    }

    #header-text h1 {
        font-size: 85px;
    }

    #header-text a {
        font-size: 25px;
        border-radius: 45px;
    }

    header #prev, header #next {
        font-size: 2rem;
    }

    header #prev:hover, header #next:hover {
        background-color: none;
    }

    #row-1 {
        height: 100%;
        background: url(Images/Row-img/rowimg2.png);
        background-size: cover;
        background-attachment: fixed;
    }
    
    #row-2 {
        height: 100%;
        background: url(Images/Row-img/rowimg5.jpeg);
        background-size: cover;
        background-attachment: fixed;
    }

    .video {
        display: none;
    }

    .the-row-shadow {
        position: static;
        -webkit-backdrop-filter: brightness(50%);
        backdrop-filter: brightness(50%);
    }

    .text-box {
        width: 100%;
        background: #262626;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    .row-texts-a {
        flex-direction: column;
    }

    .text-box-a {
        width: auto;
    }

    .text-img {
        margin: 30px auto;
    }

    .text-box-a p {
        font-size: 25px;
    }
}

/*-------------------------------------Mobile Responsiveness (Phones)------------------------------------*/

@media screen and (max-width: 600px) {
    nav {
        padding: 10px 10px;
    }

    #header-text {
        margin-left: 50px;
    }

    #header-text h1 {
        font-size: 60px;
    }

    #header-text a {
        font-size: 15px;
        width: 150px;
    }

    header #prev {
        left: 0px;
    }
    
    header #next {
        right: 0px;
    }

    .selection {
        opacity: 0;
    }

    .row-topic {
        font-size: 60px;
    }

    .text-img {
        width: 350px;
    }

    .text-box-a p {
        font-size: 15px;
    }
}

/*-------------------------------------Mobile Responsiveness (Small phones)------------------------------------*/

@media screen and (max-width: 330px) {
    #header-text {
        margin-left: 45px;
    }

    #header-text h1 {
        font-size: 40px;
    }
    #header-text h1 a {
        padding: 10px;
        font-size: 8px;
    }
}